* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ItemListContainer */
.text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.item-contenedor {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: 10px;
}

.item-recarga {
  margin-top: 10px;
  margin-left: 10px;
}

/* -------------------------------------------------------------- */
/* ItemCount */
.contenedor {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 8px;
  box-shadow: 0px 0px 10px 1px #ccc;
  background-color: #324851;
}

.container-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  color: #f4cc70;
  font-size: 20px;
}

.container-btn button {
  font-size: 25px;
  width: 20px;
  height: auto;
}

button {
  border: none;
  background-color: #324851;
  color: #f4cc70;
  cursor: pointer;
}

/* --------------------------------------------------------------------- */
/* ItemList.jsx */
.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

/* ---------------------------------------------------------------- */
/* Item.jsx */
.cards {
  margin-top: 25px;
  width: 250px;
  height: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px 2px gray;
}

.card-1 img {
  max-width: 250px;
  height: auto;
}

.card-info h3 {
  display: flex;
  justify-content: center;
}

.card-info p {
  display: flex;
  justify-content: center;
  font-size: 23px;
  margin-bottom: 10px;
}

.card-info .card-btn {
  display: flex;
  justify-content: center;
}

.card-btn {
  font-size: 20px;
  text-decoration: none;
  background-color: #191a19;
  color: #eef1ff;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px 4px gray;
  border-radius: 5px;
  transition: 0.5s;
}

.card-btn:hover {
  color: #0096ff;
}

/* ----------------------------------------------------------- */
/* ItemDetail */
.container-detail {
  display: flex;
  align-items: flex-start;
  border: 2px solid;
  border-radius: 8px;
  padding: 15px;
  margin: 20px;
}

.container-detail img {
  width: 350px;
}

.btn-carrito {
  text-decoration: none;
  color: black;
  font-size: 17px;
  transition: 0.5s;
}
.btn-carrito:hover {
  border-bottom: 1px solid black;
  color: #0096ff;
}

@media screen and (max-width: 900px) {
  /* ItemList.jsx */
  .item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 530px) {
  /* ItemList.jsx */
  .item-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .item-list-container{
    margin-left: 15px;
  }
}
